@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

header {
    width: 100%;
}

header > section {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    height: 100px;
}

header > section > img {
    width: 90px;
    height: 90px;
}

nav > ul > li {
    padding: 10px;
    display: inline;
    list-style: none;
    border-top: solid #fae5ae;
    border-bottom: solid #fae5ae;
    font-weight: 600;
    color: #ffba0b;
    cursor: pointer;
    transition: 1s;
}

nav > ul > li:nth-child(2){
    margin: 1rem;
}

nav > ul > li:hover {
    background-color: #ffba0b;
    color: white;
    border-radius: 8px;
    transition: 1s cubic-bezier(0, 0.74, 1, 0.65);
    box-shadow: 
                0 0 8px #fae5ae
                0 0 8px #1d1a14
                0 0 10px #fae5ae
                0 0 12px #fae5ae;       
}

.redes {
    width: 100px;
    flex-direction: column;
    justify-content: end;
}

.redes > img {
    padding-bottom: 10px;
    margin-left: 155px;
}

iframe {
    height: 500px;
    width: 800px;
    position: relative;
    left: 50%; transform: translate(-50%);

}

.texto{
    color: white;
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    margin: 100px 200px 0px 200px;
}

.texto > div {
    text-align: center;
}

.texto > div > h2:hover {
    color: red;
}

.texto > div > p {
    width: 400px;
    font-size: 27px;
    letter-spacing: 3px;
}

.texto > img {
    position: relative;
    top: 20%;
    left: 10%;
    width:550px ;
    height:500px;
}